# Web Scraping Assignment

In [5]:
# Import Necessary Libraries
import requests
from bs4 import BeautifulSoup

## Scraping Wuzzuf Website

In [6]:
# This is a page of data jobs
response = requests.get('https://wuzzuf.net/search/jobs/?q=data%20science&a=navbg')
response

In [7]:
s = BeautifulSoup(response.text, 'html.parser')

In [8]:
# Job Link
s.find_all('div', 'css-1gatmva e1v1l3u10')[0].div.div.h2.a['href']

'https://wuzzuf.net/jobs/p/HAUXcNyYg78s-Data-Analyst-Yodawy-Med-Giza-Egypt'

In [9]:
# Job Title
s.find_all('div', 'css-1gatmva e1v1l3u10')[0].div.div.h2.a.text

'Data Analyst'

In [10]:
# Company Name
s.find_all('div', 'css-1gatmva e1v1l3u10')[0].div.find_all('div')[1].a.text.split(' ')[0]

'Yodawy'

In [11]:
# City
s.find_all('div', 'css-1gatmva e1v1l3u10')[0].div.find_all('div')[1].span.text.split(',')[0]

'Mohandessin'

In [12]:
# Country
s.find_all('div', 'css-1gatmva e1v1l3u10')[0].div.find_all('div')[1].span.text.split(',')[1].strip()

'Giza'

In [13]:
# Job Type
s.find_all('div', 'css-1gatmva e1v1l3u10')[0].div.find_all('div')[5].a.text

'Entry Level'

In [14]:
# Skills
s.find_all('div', 'css-1gatmva e1v1l3u10')[0].div.find_all('div')[5].find_all('a')[1:][0].text.strip().split(' ')[1]

'IT/Software'

In [15]:
# Create empty table with desired column names using pandas library
import pandas as pd
df = pd.DataFrame(columns= ['Job title', 'Company name', 'City', 'Country', 'Job type', 'Skills'])
df

Empty DataFrame
Columns: [Job title, Company name, City, Country, Job type, Skills]
Index: []

In [16]:
# Scraping page and extracting all the desired information and saving it in the previous table

for idx, job in enumerate(s.find_all('div', 'css-1gatmva e1v1l3u10')):
    
    title = job.div.div.h2.a.text
    
    com_name = job.div.find_all('div')[1].a.text.split(' ')[0]
    
    city = job.div.find_all('div')[1].span.text.split(',')[0]
    
    country = job.div.find_all('div')[1].span.text.split(',')[1].strip()
    
    Type = job.div.find_all('div')[5].a.text
    
    skills = [skill.text.strip().replace('Â· ', '') for skill in job.div.find_all('div')[5].find_all('a')[1:]]
    
    df.loc[idx, 'Job title'] = title
    
    df.loc[idx, 'Company name'] = com_name
    
    df.loc[idx, 'City'] = city
    
    df.loc[idx, 'Country'] = country
    
    df.loc[idx, 'Job type'] = Type
    
    df.loc[idx, 'Skills'] = skills
    
df

,Job title,Company name,City,Country,Job type,Skills
0,Data Analyst,Yodawy,Mohandessin,Giza,Entry Level,"[IT/Software Development, Analyst/Research, En..."
1,"Data & Analytics Manager Dubai, United Arab Em...",GroupM,Dubai,United Arab Emirates,Not specified,"[Administration, IT/Software Development, Engi..."
2,"Data & Analytics Director Dubai, United Arab E...",GroupM,Dubai,United Arab Emirates,Not specified,"[Administration, IT/Software Development, Engi..."
3,Senior Data Scientist II,Alphapartners,Dubai,United Arab Emirates,Not specified,"[R&D/Science, IT/Software Development, Enginee..."
4,Senior Data Scientist II,Careem,Dubai,United Arab Emirates,Not specified,"[R&D/Science, IT/Software Development, Enginee..."
5,Master Data Administrator and Analyst,DANONE,Cairo,Egypt,Not specified,"[IT/Software Development, Analyst/Research, En..."
6,Data Center Security Specialist - UAE National...,Amazon,Dubai,United Arab Emirates,Not specified,"[Installation/Maintenance/Repair, IT/Software ..."
7,Senior Data Scientist,Etisalat,Maadi,Cairo,Experienced,"[IT/Software Development, Analyst/Research, En..."
8,"Systems Engineer, Data Protection",VAS,Cairo,Egypt,Not specified,"[Installation/Maintenance/Repair, IT/Software ..."
9,Manager of Data Analysis and AI | Marine Industry,RAWAJ,Dubai,United Arab Emirates,Not specified,"[IT/Software Development, Marketing/PR/Adverti..."
10,Data Analyst,Raya,Cairo,Egypt,Not specified,"[IT/Software Development, Analyst/Research, En..."
11,Data & Analytics Analyst,Alphapartners,Dubai,United Arab Emirates,Not specified,"[Administration, IT/Software Development, Engi..."
12,Data Center Trainee,VAS,Cairo,Egypt,Not specified,"[IT/Software Development, Sales/Retail, Engine..."
13,Data Center Engineer,VAS,Cairo,Egypt,Not specified,"[IT/Software Development, Sales/Retail, Engine..."
14,Data & Analytics Analyst,Careem,Dubai,United Arab Emirates,Not specified,"[Administration, IT/Software Development, Engi..."

In [17]:
# Save dataframe as csv file
df.to_csv('Jobs.csv')